body{
    background-color: #f3f3f3;
}

.logo{
    width: 100px;
}

.main{
    background: #ffffff;
    width: 730px;
    margin:0 auto;
    overflow: hidden;
    padding: 10px;
}
.form-container{
    width: 300px;
    margin: 0 auto;
}
.form-container-larger{
    width: 500px;
    margin: 0 auto;
}