{% extends 'base.html' %}
{% block title %}首页{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/index.css') }}">
{% endblock %}
{% block main %}
    <ul class="questions">
        {% for question in questions %}
            <li class="question-item">
                <div class="avatar-group">
                    <div class="avatar">
                        <img src="{{ url_for('static',filename = 'images/zhiliao.png') }}" alt="">
                    </div>
                </div>
                <div class="question-group">
                    <div class="question-title"><a href="{{ url_for('detail',question_id = question.id) }}">{{ question.title }}</a></div>
                    <div class="question-content">{{ question.content }}</div>
                    <div class="question-info text-right">
                        <span class="question-auther ">{{ question.author.username }}</span>
                        <span class="question-createtime">{{ question.createtime }}</span>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}